* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(180deg, #fffaf8 0%, #fff3f6 50%, #fdf7ff 100%);
    min-height: 100vh;
}

/* HEADER */
.header-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

/* ЛОГО */
.main_logo {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* робить круг */
    object-fit: cover; /* щоб не спотворювалось */
     border: 2px solid #eee;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

/* ТЕКСТ */

.center {
    display: block;
    margin: 0 auto;
}

/* ОСНОВА */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    margin: 30px 0;
    text-align: center;
}

/* GRID */
.grid {
   display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 картки в ряд */
    gap: 20px;
}

/* КАРТКА */
.card-horizontal {
    display: flex;
    gap: 20px;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    padding: 15px;
    align-items: center;
}

/* ФОТО */
.card-img {
    width: 250px;
    height: 400px;
    object-fit: cover;
    border-radius: 12px;
}

.card-horizontal {
    display: flex;
    gap: 20px;
    background: #fff;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
    padding: 15px;
    align-items: stretch; /* ключове */
}

/* КОНТЕНТ */
.card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

/* верхній блок */
.top-content {
    display: flex;
    flex-direction: column;
    gap: 20px; /* ось твій контрольований відступ */
    margin-left: 20px;
}

/* прибираємо зайві відступи */
.card-content h3 {
    font-size: 24px;
    margin: 0;
}

.ingredients {
    margin: 0;
}

/* ЦІНА */
.price {
    font-weight: bold;
    color: #e91e63;
    margin-left: 10px;
}
.ingredients li {
    margin-bottom: 10px;
    color: #555;
    position: relative;
    padding-left: 18px;
    list-style: none;
    padding-left: 0; /* важливо */
}

/* "кондитерські" маркери 🍰 */
.ingredients li::before {
    content: "🍫";
    position: absolute;
    left: -23px;
}
